@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&display=swap');

@media screen and (min-width:576px) {
    
    body{
        background-color: #F2E9E9;
        font-family: Montserrat Alternates;
        font-size: 35px;
        color: #5e3401;
    }
    
    a{
        text-decoration: none;
    }
    .row1{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .card {
        transition: 0.3s;
        width: 200px;
        transition: all .2s ease-in-out; 
        align-items: center;
    
    }
    
    .card:hover{
        transform: scale(1.1);
    }
    
    .artist{
        display: flex;
        align-items: center;
        width: 150px;
        border-radius: 50%;
        border: 5px solid #5e3401;
        padding: 10px;
    }
    
    .container{
        padding: 2px;
        color: #5e3401;
        text-align: center;
        font-size: 25px;
        text-align: center;
    }
    
    .row2{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .row3{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .carousel-inner{
        display: flex;
        padding: 1em;
    }
    
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }

    .carousel-card{
        margin: 0 5em;
    }
}

@media screen and (min-width:320px) and (max-width:575px) {
    
    body{
        background-color: #F2E9E9;
        font-family: Montserrat Alternates;
        font-size: 35px;
        color: #5e3401;
    }
    
    a{
        text-decoration: none;
    }
    
    .artist{
        display: flex;
        align-items: center;
        width: 15%;
        border-radius: 50%;
        border: 5px solid #5e3401;
        padding: 10px;
        color: #5e3401;
    }

}
